* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1344px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.custom_btn {
  padding: 15px 42px;
  background: #6a4df4;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  line-height: 26px;
  font-size: 20px;
  border: 1px solid transparent;
  transition: all 0.4s linear;
}

.custom_btn:hover {
  background: transparent;
  border-color: #6a4df4;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 45px;
  font-weight: 700;
  color: #151515;
}

.title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #737373;
  max-width: 609px;
  margin: 20px auto 0;
}
/* ======================================================================== */
.navbar {
  padding: 0 !important;
  width: 100%;
  position: absolute;
  z-index: 9999;
  margin-top: 50px;
  /* background-color: black; */
}

.navbar .navbar-nav {
  column-gap: 67px;
}

.navbar .nav-link {
  padding: 0 !important;
  color: #ffffff;
}

.navbar .active {
  color: #6a4df4 !important;
}

.btn {
  line-height: 26px;
  font-size: 20px;
  font-weight: 600;
  background-color: #6a4df4;
  color: #ffffff;
}
.btn:hover {
  border: 1px solid #6a4df4;
  color: #ffffff;
}
.navbar .nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  transition: all 0.4s;
}
.navbar .nav-link:hover {
  color: #6a4df4;
}
/* ========================================================================================================== */

#banner {
  position: relative;

  /* background: url(../img/banner01.png) no-repeat center/cover; */
}
/* .banner_slid{
position: relative;

}
.banner_slider{
    position: absolute;
} */

#banner .banner_slider01 {
  background: url(../img/baner001.jpg) no-repeat center / cover;
  height: 896px;
}

#banner .banner_slider02 {
  background: url(../img/baner001.jpg) no-repeat center / cover;
  height: 896px;
}

#banner .banner_slider03 {
  background: url(../img/baner001.jpg) no-repeat center / cover;
  height: 896px;
}

#banner .banner_slider04 {
  background: url(../img/baner001.jpg) no-repeat center / cover;
  height: 896px;
}

#banner .over {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 315px;
}
#banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  max-width: 950px;
  text-align: center;
}

#banner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  max-width: 621px;
  text-align: center;
  margin: 51px 0 40px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */

#success_part {
  padding-top: 171px;
}

#success_part .container .main {
  background: #e0fff9;
  padding: 69px 51px 86px 50px;
  border-radius: 20px;
}

#success_part .container .main .left h3 {
  font-size: 25px;
  line-height: 120%;
  font-weight: 500;
  color: #6a4df4;
}

#success_part .container .main .left h2 {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  margin-top: 15px;
}

#success_part .container .main .right h3 {
  font-size: 50px;
  font-weight: 700;
  color: #151515;
}

#success_part .container .main .right p {
  font-size: 20px;
  font-weight: 500;
  color: #737373;
  line-height: 120%;
  margin-top: 20px;
}

#success_part .container .main .right {
  display: flex;
  justify-content: flex-end;
  column-gap: 110px;
}

/* ============================================================== */
/* ============================================================== */

#service_part {
  padding-top: 149px;
  padding-bottom: 159px;
}
#service_part .row {
  row-gap: 24px;
  margin-top: 50px;
}

#service_part .main {
  background: #ffffff;
  padding: 80px 49px 47px;
  text-align: center;
  border-radius: 20px;
  transition: 0.4s;
}

#service_part .main:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#service_part .main h3 {
  font-size: 25px;
  font-weight: 700;
  color: #151515;
  margin: 40px 0 20px;
}

#service_part .main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #737373;
}

/* ============================================================== */
/* ============================================================== */

#recent_work {
  padding-top: 149px;
  padding-bottom: 180px;
  background-color: #f3f3f3;
}

#recent_work .row {
  row-gap: 24px;
  margin-top: 50px;
}

#recent_work .main {
  background: #ffffff;
  /* padding: 80px 49px 47px; */
  text-align: center;
  border-radius: 20px;
  transition: 0.4s;
}

#recent_work .main:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#recent_work .main h3 {
  font-size: 25px;
  font-weight: 700;
  color: #151515;
  margin: 40px 0 20px;
}

#recent_work .main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #737373;
  margin: 42px 42px 0;
}
/* ============================================================== */
/* ============================================================== */
#agenc_part {
  padding-top: 150px;
}

#agenc_part .title {
  margin-bottom: 50px;
}

#agenc_part .title h2 {
  max-width: 518px;
  margin: 0 auto;
}

#agenc_part .title p {
  max-width: 802px;
}

#agenc_part .main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#agenc_part .agenc {
  height: 428px;
  width: 428px;
  object-fit: cover;
  border-radius: 20px;
}
/* ================================================================================= */
#reviews .container{
  max-width: 1368px;
}
#reviews .child{
  border: 1px solid brown;
  padding: 58px;
  margin:  0 12px;
  transform: .4s;
  z-index: 9;

}
.review_slider{
  position: relative;
  
}
.review_slider .prev{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #6a4df4;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 9;
  transform: translateX(-50%) translateY(-50%);
}

.review_slider .next{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #6a4df4;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateX(50%) translateY(-50%);
  z-index: 9;
}
.review_slider .comment{
  display: flex;
  margin-top: 32px;
  column-gap: 20px;
}
.review_slider .comment img{
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
.slick-center{
  background: #ffaeae;
  transform: scale(1.5s);
}
.review_slider .slick-list{
  padding: 10px 0 !important;
}


/* ====================================================================== */

#form_part {
  padding: 100px 0;
  background: #eaeaea;
}

#form_part .form {
  width: 536px;
  height: 622px;
  background: #ffffff;
  border-radius: 20px;
}

#form_part .form form {
  display: flex;
  flex-direction: column;
  padding: 64px 70px;
  
}

#form_part .form form h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

#form_part .form form label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

#form_part .form form input {
  padding: 19px 23px;
  border: 1px solid #E8E8E8;
  background: transparent;
  outline: none;
  color: #151515;
  margin-bottom: 20px;
}

#form_part .form form input::placeholder {
  color: #d0d0d0;
}

#form_part .form form button {
  height: 64px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #6A4DF4;
  color: #ffffff;
}
#form_part .form_text h3{
  max-width: 470px;
  margin-top: 150px;
}
#form_part .form_text p{
  max-width: 470px;
  color: #7B7B7B;
}
/* ====================================================================== */
/* ====================================================================== */

footer{
  padding: 150px 0 0 0;
}
footer p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 30px;
  color: #7B7B7B;
}
footer .logo{
  column-gap: 3px;
}
footer .row .about{
  display: flex;
  margin-left: 131px;
  column-gap: 130px;
}
footer .row .about h4{
  font-size: 16px;          
  font-weight: 600;
  margin-bottom: 28px;
  color: #000000;
}
footer .row .about a{
  color: #7B7B7B;
}

 /* ========================================================================== */
 /* ========================================================================== */
.hr{
  height: 1px;
  width: 1320px;
  background: #eed4d4;
  margin: 0 auto;
  margin-top: 50px;
}
/* ============================================================================== */
/* ============================================================================== */
.copy{
  background-color: #1E1E1E;
  padding: 33px;
}
.copy p{
  color: #D0D0D0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 260px;
}